body {
    font-size: 18px;
    line-height: 1.5;
}

header,
nav,
main,
footer {
    margin: 1.5rem auto;
    max-width: 760px;
}

header footer {
    background-color: rgb(25, 61, 95);
    color: #fff;
    text-align: center;
    padding: 1.5rem;
}

p image {
    float: right;
    margin;
    : 10px;
}

