body {
    font-size: 15px;
    line-height: 1.5;
}

header,
nav,
main,
footer {
    margin: 1rem auto;
    max-width: 760px;
}

h1 {
    font-size: 1.5em;
}

header, footer {
   border-radius: 10px;
}

#foto img {
   margin: 10px;
}

footer a {
    color: #fff;
}