body {
    font-size: 16px;
    background-color: #d6d6d6;
    font-family: 'Barlow Semi Condensed', sans-serif; 
}
 main{
    display: grid;
	grid-template-columns: 1fr;
 }

 main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
    background-color: #fff;
}
section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}