body {
    font-size: 16px;
    background-color: #d6d6d6;
    font-family: 'Barlow Semi Condensed', sans-serif; 
}
 main{
    display: grid;
	grid-template-columns: 1fr;
 }

 main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
    background-color: #fff;
    text-align: center;
}

header, footer {
    background-color: rgb(25, 61, 95);
    color: #fff;
    text-align: center;
}

h3{ 
    background-color: #888;
    color: #fff ;
    padding: 3px;
}