body {
    font-size: 16px;
    background-color: #d6d6d6;
    font-family: 'Barlow Semi Condensed', sans-serif; 
}

main {
	max-width: 767px;
	margin: 0 auto;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
 }

 main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
    background-color: #fff;
    text-align: center;
}

header, footer {
    max-width: 640px;
    background-color: rgb(25, 61, 95);
    color: #fff;
    padding: 1rem;
}

header {
    text-align: center;
}

h3{ 
    background-color: rgb(25, 61, 95);
    color: #fff ;
    margin-bottom:0%;
    padding:8px;
}
h4{
    background-color: rgba(238, 235, 235, 0.863);
    text-align:left;
    margin-top:0%;
    margin-bottom:15px;
    padding: 10px;
}

a {
    color: black;
}

hr{
    color: blanchedalmond;
}

#footerlink {
    color: blanchedalmond;
}

