@media only screen and (min-width: 60em) {
   
    header img {
        width: 110px;
        height: auto;
    }

    #getupsuntitle{
        font-size: 3rem;
    }

    nav a {
        font-size: 1.1rem;
    }

    /* wheather Box*/

    .wheatersummary {
		width: 190px;
		height: 215px; 
		top: 6px;
		right: 70px;
		background-color:#E2B629;
		font-size: 16px;
	}
    button{
        font-size: 16px;

    }

    /*forecast box content*/


    
    /*article content*/

    .picnicimg{
        width: 450px;
    }

    .article{
        display: flex;
        margin-top: 10px;
        margin-bottom: -1em;
        width:800px ;
    }

    article .titlearticle{
        text-align: left;
        padding: 1em;
        margin-bottom:0 px;
    }

    article .autor{
        padding: 1em;
        margin: 2px;
        text-align: left;
    }

    .textArticlePinic{
        text-align: left;
        justify-content:left;

    }

    .article img{
        float: right;
        margin: 20px 15px 10px 14px;
    }




    /* map and info content*/


	.mapsection{
        margin-top: .5em;
        margin-bottom: 15px;
        width: 90%;
        display: grid;
        grid-template-columns: 30.5% 68.5%;
        grid-gap: 1%;
    }
    
    
    .mapsection .events{
        font-size: 1.3em;	
    }
}
