
@media only screen and (max-width: 518px) {  .forecastdiv { display: none;} #MapPreston {display: none;} }

body{
    font-size: 13px;
    font-family:'Questrial', sans-serif;
}

header{
    background-color: #2059AD;
	padding: 10px 0;
	margin: 0;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;   
}

header img {
	width: 80px;
	height: auto;
}


#getupsuntitle{
    margin-top: 7%;
    margin-left: 10px;
    margin-bottom: 3px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	margin-left: 10px;
	font-size: .9rem;
}





/* menu de navegacion*/
nav {
	margin: 0 auto;
	max-width: 1500px;
	background-color: #293A53;
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}

.active:active {
	background-color: #FFCF1B;
}

.navigation a:hover {
	color: #FFCF1B;
	background-color: #29528E;
	font-weight: 700;
}


nav ul {
    margin: 0;
    padding: 0;
}

.responsive li {
	display: block;
}

h2{
	text-align: center;
}

/*-----------------------------------------------Preston page----------------------------------------------- */
/*pancake Div */
#pancakead{
	display: none;
}

.pancakestyle{
	background: rgba(255,190,10,1);
	height: 3em;
	padding: 15px;
}

.pancakestyle p{
	font-style: bold;
	text-align: center;
	font-size: x-large;
}
/* wheater summary */

.herodiv{
	position: relative;
	margin: 10px auto;
}

.heroimg{
	margin-left: auto;
    margin-right: auto;
	display: block;
	width: 100%;
}

.wheatersummary {
	width: 130px;
	height: 165px; 
	position: absolute;
	top: 0;
	right: 10px;
	background-color:#E2B629;
	padding: 2px 1em;
	font-size: 10px;
	box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.74);
}

button{
	font-size: 10px;
	color:white;
	background-color: #E2B629;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px black;
}

#boxtitle{
	color: white;
	text-shadow: 2px 2px black;
	text-align: center;
	padding: 2px;
	margin: 0.2em;
}

input{
	background:rgb(255, 219, 100);
	color: #29528E;
	border: none;
	margin-left: 6px;
	
}

.textBox{
	text-align: left;
	opacity: 10;
	font-weight: bold;
	margin: 0.5em;
	color: white;
	text-shadow: 1px 1px black;
}

.textBoxout{
 text-align: right;
 color: #29528E;
 text-shadow: none;
 font-weight: bold;
}





/* articulo informativos*/

.article{
	margin-left: auto;
	margin-right: auto;
	width:290px ;
	padding: 10%;
	margin-top: 0px;
}

.article article{
	margin-top: -2em;
}


div> article {
	background-color: #FBFFC0;
}

.picnicimg{
	display: block;
	margin-left:0;
	margin-right:0;
	width: 290px;
} 


article .autor{
	margin-top: 5px;
	padding: 2px;
	text-align: center;
}

.textArticlePinic{
	text-align: center;
	padding: 1em;
	margin: 2px;
}




/* map Div */
.mapsection{
	margin-bottom: 15px;
	width: 80%;
	display: grid;
	grid-template-columns: 80%;
	grid-gap: 1%;
}
.mapsection img{
	width: 30%;
	float: left;
}

.mapsection div{
	border-radius: 8px;
	background-color:#293A53;
	color: white;
	text-shadow: 2px 2px black;
}

.mapsection .events{
	font-size: 1.3em;	
}

.events h4{
	border-radius:20px;
	font-size: 1em;
	background-color:#E2B629;
	margin: 10px;
	padding:10px;
}


/*final de la pagina */

footer{
	background-color: #2059AD;
        color: #fff;
        padding: 2rem;
        text-align: center;
}

footer a {
	color: white;
	
}