body{
    font-size: 16px;
    font-family:'Questrial', sans-serif;
}

header{
    background-color: #2059AD;
    padding: 10px 0;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;   
}

header img {
	width: 80px;
	height: auto;
}

#getupsuntitle{
    margin-top: 7%;
    margin-left: 10px;
    margin-bottom: 3px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	margin-left: 10px;
	font-size: .9rem;
}

nav {
    background-color: #293A53;
}

#primaryNav {
	list-style: none;
	text-align: center;
    padding: 0;
}

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: #ffff;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: .8rem 2%;
    color: white;
    border-top: solid rgba(32, 41, 53, 2);
}

nav ul li a:hover { background-color: rgba(215, 180, 47, 2); color: #000; }  

nav ul li .active a{ background-color: rgba( 32, 41, 53, 2);}










