@media only screen and (min-width: 32.5em) {

	body{
		font-size: 16px;
	}

	header img {
        width: 95px;
        height: auto;
    }

    #getupsuntitle{
        font-size: 2rem;
    }

	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
	}

	/* wheather Summary*/
	.heroimg{
		width: 90%;
	}

	.wheatersummary {
		width: 160px;
		height: 200px; 
		top: 0.4em;
		right: 20px;
		background-color:#E2B629;
		font-size: 14px;
	}

	button{
		font-size: 14px;
	}

	/*forecast box content*/

	#titleforecast{
        text-align:center;
    }
    
    .forecastdiv{
        max-width: 650px;
		margin: 0 auto;
		margin-bottom: -40px;
    }
    
    .forecastdiv ul {
        margin-left: 65px;
        margin-right: auto;
		padding: 0;
		margin-bottom: 10px ;
    }
    
    .forecastdiv ul li{
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 0;
        padding-top: 10px;
        padding-left: 32px;
        padding-right: 32px;
        height: 100px;
        border: 2px solid #E2B629;
        background-color:  #2059AD;
        font-weight: bold;
        color: white;
    }
    
    .iconForecast{
        width: 30px;
        position: absolute;
        top: 63px;
        right: 33px;
    }

	.article{
		 width:500px ; 
	}

	.picnicimg {
		 width: 500px;
	}
		

	/* map and info content*/



	.mapsection{
		margin-top: -50px;
		margin-bottom: 15px;
		width: 90%;
		height: 230px;
		text-align: center;
	}

	
	.mapsection #MapPreston {
		float: left;
		border: 2px solid #293A53;
		width: 200px;
		margin: 15px 15px 15px 40px;
	}

/**-------------------------------------------GALERY PAGE--------------------------------------------------*/

	.container{
		grid-template-columns: 47.5% 47.5%;
		grid-template-rows: 250px 250px;
	}
/**-------------------------------------------STROM CENTER--------------------------------------------------*/

	.containerform{
		width: 90%;
		}
/**-------------------------------------------Thanks Section------------------------------------------------*/

.thankssection img{
	height: 400px;
}

.thankssection h1{
	margin: 100px 4%;
	font-size: 3rem;
}

}