@media only screen and (min-width: 32.5em) {

	body{
		font-size: 16px;
	}

	header img {
        width: 95px;
        height: auto;
    }

    #getupsuntitle{
        font-size: 2rem;
    }

	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
	}

	/* wheather Summary*/
	.heroimg{
		width: 90%;
	}

	.wheatersummary {
		width: 160px;
		height: 200px; 
		top: 0.4em;
		right: 20px;
		background-color:#E2B629;
		font-size: 14px;
	}

	button{
		font-size: 14px;
	}

	/*--------------------------------------forecast box content*-------------------------------------------------*/

	#titleforecast{
        text-align:center;
    }
    
    .forecastdiv{
		max-width: 650px;
		margin: 0 auto;
		margin-bottom: 1.5em;
		background-color: #E2B629;
	}
	
	.forecastdiv{
		display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
		grid-template-rows: 1fr;
	}

	.forecastdiv section{
		color: beige;
		text-align: center;
		border: solid 1px #293A53;
		background-color: #2059AD;
	}
    
	.article{
		 width:80% ; 
		 margin-bottom: 1em;
	}

	.picnicimg {
		 width: 90%;
	}
		

	/* map and info content*/
	.mapsection{
		margin-top:4em;
		margin-bottom: 1em;
		width: 95%;
		display: grid;
		grid-template-columns: 30.9% 68.5%;
		grid-gap: 1%;
		text-align: left;
		
	}

	.mapsection div{
		padding: 15px;
	}

	.mapsection .mapimage{
		display: block;
		float: left;
		width: 30%;
		margin-right: 10px;
		margin-bottom: 15px;
	}

	.events h4{
        border-radius:10px;
        font-size: 1.6em;
        background-color:#E2B629;
        margin: 5px;
		padding:10px;
	} 
	
	.events {
		font-size: 7px;
	}

}


/*.mapsection{
	margin-top: -50px;
	margin-bottom: 15px;
	width: 90%;
	height: 230px;
	text-align: center;
}

	/*.mapsection{
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 15px;
        width: 90%;
        display: grid;
        grid-template-columns: 30.5% 68.5%;
        grid-gap: 1%;
    }
    
    .mapsection div{
        border-radius: 15px;
        background-color:#293A53;
        color: white;
        text-shadow: 2px 2px black;
    }
    
    .mapsection .events{
        font-size: 1.3em;	
    }
    
    .events h4{
        border-radius:20px;
        font-size: 1.6em;
        background-color:#E2B629;
        margin: 20px;
        padding:20px;
    } */
