@media only screen and (min-width: 32.5em) {

	body{
		font-size: 16px;
	}

	header img {
        width: 95px;
        height: auto;
    }

    #getupsuntitle{
        font-size: 2rem;
    }

	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
	}

	/* wheather Summary*/
	.heroimg{
		width: 90%;
	}

	.wheatersummary {
		width: 160px;
		height: 200px; 
		top: 0.4em;
		right: 20px;
		background-color:#E2B629;
		font-size: 14px;
	}

	button{
		font-size: 14px;
	}

	/*--------------------------------------forecast box content*-------------------------------------------------*/

	#titleforecast{
        text-align:center;
    }
    
    .forecastdiv{
		max-width: 650px;
		margin: 0 auto;
		margin-bottom: 1.5em;
		background-color: #E2B629;
	}
	
	.forecastdiv{
		display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
		grid-template-rows: 1fr;
	}

	.forecastdiv section{
		color: beige;
		text-align: center;
		border: solid 1px #293A53;
		background-color: #2059AD;
	}
    

	.article{
		 width:500px ; 
	}

	.picnicimg {
		 width: 500px;
	}
		

	/* map and info content*/



	.mapsection{
		margin-top: -50px;
		margin-bottom: 15px;
		width: 90%;
		height: 230px;
		text-align: center;
	}

	
	.mapsection #MapPreston {
		float: left;
		border: 2px solid #293A53;
		width: 200px;
		margin: 15px 15px 15px 40px;
	}

}