* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Mallanna', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Didact Gothic', sans-serif;
}

a{
 color: #a0203c;
 text-decoration: none;   
}

h1{
    text-align: center;
    margin: 1em;
}
/*-------------------LOGO-------------------*/
.logo{
    width: 150px;
    float: right;
    right: 30px;
    position: absolute;
}
/*-------------------navigation Menu-------------------*/

nav {
    width: 100%;
    background-color: #a0203c;
}

nav ul {
    list-style: none;
}

#menu>li {
    /*position: relative;*/
    display: inline-block;
}

#menu>li>a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

#menu li a:hover {
    text-decoration: underline;
}

/*----------submenu-----------*/
.submenu {
    position: absolute;
    background-color: white;
    border: solid .5px #313038;
    display: none;
}

.submenu li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #313038;
}

#menu li:hover .submenu {
    display: block;
}

/*---------toggle menu---------------*/
#menu {
    display: none;
}

#toggle:checked~#menu {
    display: block;
}

#toggle {
    display: none;
}

.responsive li {
    display: block;
}

label{
    color: white;
    padding: 10px 0px;  
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
   }

@media (min-width: 500px) {
   
    nav{
        width: 100%;

    }
    #navcont{
        text-align: center;
    }

    nav label, #toggle{
          display: none;
          
     }
  
     #toggle:not(:checked) ~ #menu{
       display: block; 
     }
}


/*-------------- Hero image----------------*/
.heroimg{
    width: 100%;
    box-shadow: 0px 16px 25px -7px rgba(0,0,0,0.38); 
}


.reservation{
    height: 60px;
    width: 400px;
    padding: 15px;
    border-radius: 30px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #a0203c;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1.4em;
}


/*-------------- Pictures section----------------*/
.picturecontainer{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: 356px 610px;
    grid-template-rows:500px;
    grid-gap: 5px;
}


.pictures{
 display: grid;
 grid-gap: 5px;
 grid-template-columns: 363px 230px;
 grid-template-rows:334px;
 
}

.first img{
    height: 520px;
}

.weddingpicture{
width: 600px ;

}

.picturecontainer div{
position: relative;
}

.picturelink{
position: absolute;
text-decoration: none;
color: white;
background-color: black;
padding: 2px 10px;
}

.picturecontainer img:hover{
   opacity: .5;
}

/*-------------- Temple information----------------*/

.templecontainer{
    width: 100%;
    background-color: #eef4ba;
    margin-top: 4.5em;
    padding: 1em;
    box-shadow: 0px -2px 25px 1px rgba(0,0,0,0.25);
}

.templeimformation{
    max-width: 800px;
    margin-top: 1em;
    display: grid;
    margin-left:auto ;
    margin-right: auto;
    grid-template-columns: 40% 60%;
    grid-gap: 5%;
}

.templeimformation img{
    width: 100%;
}

.content{
    padding: 1em;
}


/*-------------- Services pictures----------------*/

.services{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap:3%;
    grid-template-rows: 40px 200px;
}

.services div{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.services a{
    position: absolute;
    display: none;
}

/*----------------------------------------------CONTAC PAGE---------------------------------------------*/
.contacinformation{
    max-width: 800px;
    margin-top: 1em;
    margin-bottom: 2em;
    display: grid;
    margin-left:auto ;
    margin-right: auto;
    grid-template-columns: 40% 60%;
    grid-gap: 5%;
}

.contacinformation img{
    width: 100%;
}
.map{
    margin-top: 2em;
    max-width: 800px;
    margin: auto;
    margin-bottom: 3em;
}

iframe{
    width:800px; 
    height:300px;
}

/*-------------- Form contact ----------------*/


.regularcontainer{
    display: block;
    max-width: 800px;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

form fieldset{
	border: 1px solid #a0203c;
	border-radius: 10px;
	padding: .5rem 2%;
    background-color: #f9ffc4c4;
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.20);
}

form textarea{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    outline: none;
    border: 0;
}
form legend{
    font-size: 1.3em;
}

form label.top{
    color: black;
    display: flex;
    flex-direction: column;
	padding: 0.5rem;
	font-size: 1rem;
    margin: .5em;
    text-align: left;
}

form label.top input, form label.top select {
	display: block;
	font-size: 1rem;
	border-radius: 4px;
	padding: .5em;
	width: 90%;
	max-width: 15rem;	
}

form .checkbox{
    color: black;
    text-align: left;
    margin-left: 1em;
    font-weight: normal;
}

h4{
    margin-left: 1em;
}

form input{
    border: solid .5px #331133;
}

.sumitButton{
	border: none;
	background-color: #a0203c;
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	width: 96%;
	max-width: 18rem;
    margin: 1rem 0 3rem 0 ;
    font-size: 1em;
}

/*----------------------------------------------RECEPTION---------------------------------------------*/
.receptioncont{
    max-width: 1000px;
    margin: auto;
}

.receptioncont img{
    width: 100%;
}

.receptionformation{
    background-color: #f9ffc4c4 ;
    box-shadow: 0px 16px 25px -7px rgba(0,0,0,0.15); 
    padding: 1em;
    max-width: 1000px;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 25% 25% 48% ;
    grid-template-rows: 250px;
    grid-gap: 2%;
}

.receptionformation img{
    width: 100%;
}

.receptionformation p{
    font-size: 22px;
    margin-top: 15px;
    text-align: justify;
    font-weight: lighter;
}

.receptionformation2{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%; 
    grid-template-rows:250px;
    margin-bottom: 2em;
}

.receptionformation2 img{
    width: 100%;
}

.receptionformation2 span{
    margin-top: 1em;
    font-size: 3em;
    margin-bottom: 2px;
    font-weight:bolder;
}
.receptionformation2 p{
    margin-top: -20px;
    padding: 0;
    font-size: 2em;
    font-weight: lighter;
}

.prices{
    max-width: 1000px;
    background-color:  #f9ffc4c4;
    box-shadow: 0px 16px 25px -7px rgba(0,0,0,0.15); 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding: 2em;
    font-size: 15px;
}

.prices h2{
 text-align: center;
}
.prices ul{
    margin-left: 16em;
}

.secondariul{
    display: none;
}

/*----------------------------------------FULL TIME MISSIONARIES-----------------------------------------*/

.missionaries{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 59% 39%;
    grid-gap: 1%;
}

.missionaries div{

}

.missionaries img{
    margin-left: 3em;
    margin-right: 0px;
    border-radius: 10px;
}

.missionaries li{
list-style: none;
font-weight: bold;
}

.missionaries2{
    margin-top: 2em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-auto-rows: 250px 150px;
    grid-gap:3%;
    margin-bottom: 4em;
    text-align: center;
}


.missionaries2 img{
    width: 100%;
    height: 100%;
}

.missionaries3{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 38%;
    grid-gap: 2%;
    margin-bottom: 2em;
}

.missionaries3 img{
    width: 100%;
}

.missionaries3 p{
    margin-top: 3em;
    font-weight: bold ;
    font-size: 1.2em;
}

/*-------------- Footer ----------------*/

footer{
    background-color: #313038;
}

.footdiv{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 2em 1em;
    margin: auto;
    grid-gap: 2%;
    color: rgb(202, 202, 202);
}

.footdiv div li{
    list-style: none;
    
}

footer a{
    color: rgb(114, 114, 114);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(182, 182, 182);
}

.footdiv img{
    width: 50px;
}
