@media only screen and (max-width: 800px){
 
    /*------------------- LOGO -------------------*/
.logo{
    width: 100px;
    right: 25px;
    
}
   /*------------------- NAV -------------------*/
    #menu>li>a {
        margin: 0px 2px;
        padding: 8px 12px;
    }

    /*-------------- Pictures section----------------*/
    .picturecontainer{
        display: none;
    }
    
}