@media only screen and (max-width: 800px){
 
    /*------------------- LOGO -------------------*/
.logo{
    width: 100px;
    right: 25px;
    
}
   /*------------------- NAV -------------------*/
    #menu>li>a {
        margin: 0px 2px;
        padding: 8px 12px;
    }

    /*-------------- Pictures section----------------*/
    .picturecontainer{
        display: none;
    }

    /*-------------- Temple information----------------*/

.templecontainer{
    box-shadow: 0px -2px 25px 1px rgba(0,0,0,0.14);
}

.templeimformation{
    grid-template-columns: 50% 40%;
    grid-gap: 2%;
}


/*-------------- Services pictures----------------*/

.services{
    margin-left: 3.5em;
    grid-template-columns: 28% 28% 28%;
    grid-gap:4%;
    grid-template-rows: 30px 100px;
    margin-bottom: 6em;
}

.services div{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.services img{
    width: 100%;
}

/*----------------------------------------------CONTAC PAGE---------------------------------------------*/
.contacinformation{
    margin-left:3em ;
}

iframe{
    width:650px; 
    height:300px;
}

/*-------------- Form contact ----------------*/
.regularcontainer{
    display: block;
    max-width: 800px;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3.5em;
}

/*----------------------------------------------RECEPTION---------------------------------------------*/
.receptionformation{
    grid-template-columns: 25% 25% 49% ;
    grid-template-rows: 220px;
    grid-gap: 2%;
}

.receptionformation p{
    font-size: 15px;
    margin: 5px;
    text-align: justify;
    font-weight: lighter;
}

.receptionformation2{
    padding: 1.5em;
    grid-gap: 1%; 
    grid-template-rows:250px;
    margin-bottom: -2.5em;
}

.receptionformation2 span{
    margin-top: 1em;
    font-size: 2em;
    margin-left: 30px;
}

.receptionformation2 p{
    margin-top: -20px;
    font-size: 1.5em;
    margin-left: 30px;
    font-weight: lighter;
}

.prices{
    margin-bottom: 2em;
    padding: 2em;
    font-size: 15px;
}

.prices ul{
    margin-left: 9em;
}

/*----------------------------------------FULL TIME MISSIONARIES-----------------------------------------*/

.missionaries{
    grid-template-columns: 54% 40%;
    grid-gap: 2%;
}

.missionaries img{
    margin-left: 1em;
}

.missionaries2{
    grid-template-columns: 31% 31% 31%;
    grid-auto-rows: 220px 150px;
    grid-gap:2%;
    margin-bottom: 6em;
    padding: 1em;
}


.missionaries3{
    grid-template-columns: 60% 38%;
    grid-gap: 2%;
    margin-bottom: 2em;
    padding: 1em;
}
    
}